<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Mad Skills</title>
</head>
<body align='center' style='text-align:center'>
    <h1>MAD Skills as of <%= time %></h1>
    <ul style="list-style-type: none;">
        <% skills.forEach(function(element) { %>
            <li>
                <form action="/skills/<%= element.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form>
                <a href="/skills/<%= element.id %>"><%= element.skill %></a>
            </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add a skill</a>
</body>
</html>