<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Mad Skills</title>
</head>
<body align='center' text-align='center'>
    <h1>MAD Skills</h1>
    <ul style="list-style-type: none;">
        <% skills.forEach(function(element) { %>
            <li>
                <a href="/skills/<%= element.id %>"><%= element.skill %></a>
                <%= element.skill %>
                    - 
                <%= element.done ? 'done' : 'not done, yet' %>
            </li>
        <% }); %>
    </ul>
</body>
</html>