<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body align='center'>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>.</p>
    <p>If I can do it, so can you.</p>
    <p></p>
    <a href="/skills">Let's see them</a>
  </body>
</html>
